{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<p class="text_read">
    Books read:
</p>
<br>
<br>
<table class="table table-hover table-bordered">
        <thead>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Publishing_house</th>
        </thead>
    <tbody>
    {% for item in books_read %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td> {{ item.book.title }}</td>
                <td> {{ item.book.author }}</td>
                <td> {{ item.book.category}}</td>
                <td> {{ item.book.publishing_house}}</td>
            <tr/>
        {% endfor %}
    </tbody>
{% endblock %}