{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated == True %}
    <form action="{% url 'catalog:search' %}" method="get">
    <input name="q" type="text" placeholder="Search">
    </form>
    <a href="{% url 'catalog:add' %}" class="btn btn-danger"> Add </a>
{% endif %}

    <table>
        <thead>
            <th>Counter</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Publishing_house</th>
            {% if request.user.is_authenticated == True %}
                <th>Actions</th>
            {% endif %}

        </thead>
        <tbody>
        {% for item in all_books %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td> {{ item.title }}</td>
            <td> {{ item.author }}</td>
            <td> {{ item.category}}</td>
            <td> {{ item.publishing_house}}</td>
            {% if request.user.is_authenticated == True %}
                <td> <a href="{% url 'catalog:change' item.id %}"> Edit</a> </td>
                <td> <a href="{% url 'catalog:add_read' item.id request.user.id %}"> Add to list </a> </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}