{% extends 'base.html' %}
{% block content %}
{% load static %}
<table class="table table-hover table-bordered">
        <thead>
            <th> </th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Publishing_house</th>
        </thead>
    <tbody>
    {% for item in book_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td> {{ item.title }}</td>
                <td> {{ item.author }}</td>
                <td> {{ item.category}}</td>
                <td> {{ item.publishing_house}}</td>
            <tr/>
    {% empty %}
        <tr>
            <p class="text_search" > Nu s-a gasit nicio carte. </p>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}